{% extends '../base.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
{% block static %}
{% load static %}
<link href="{% static './pages/form.css' %}" rel="stylesheet">
{% endblock static %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Восстановление пароля</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            <p class="form__info-text">
                Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.
            </p>
            <div class="form__group">
                <label class="form__label" for="id_new_password1">Новый пароль</label>
                <div class="form__field-group">
                    <input class="form__input" id="id_new_password1" name="new_password1" type="password">
                    <span class="form__error">{{ form.new_password1.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label class="form__label" for="id_new_password2">Новый пароль</label>
                <div class="form__field-group">
                    <input class="form__input" id="id_new_password2" name="new_password2" type="password">
                    <span class="form__error">{{ form.new_password2.errors }}</span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue" type="submit">Изменить мой пароль</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}