{% extends 'base.html' %}
{% block title %}Рецепты | {{ profile.get_full_name }}{% endblock %}
{% block content %}
{% block static %}
{% load static %}
<link href="{% static './pages/index.css' %}" rel="stylesheet">
{% endblock static %}
{% load main_filters %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ profile.get_full_name }}</h1>
        {% include 'includes/tags.html' with tags=tags tags_list=tags_list %}
    </div>
    {% if user.is_authenticated and user.id != profile.id %}
    <div class="author-subscribe" data-author="{{ profile.id }}">
        {% if request|is_follower:profile %}
        <p style="padding: 0 0 2em 0;">
            <button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться от автора</button>
        </p>
        {% else %}
        <p style="padding: 0 0 2em 0;">
            <button class="button button_style_light-blue button_size_subscribe" data-out name="subscribe">Подписаться на автора</button>
        </p>
        {% endif %}
    </div>
    {% endif %}
    <div class="card-list">
        {% for recipe in page %}
        {% include 'includes/recipe.html' with recipe=recipe %}
        {% endfor %}
    </div>
    {% include 'includes/paginator.html' with items=page paginator=paginator tags=tags %}
</main>
{% endblock content %}
{% block js %}
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'authorRecipe.js' %}"></script>
{% endblock js %}