{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{ texts.title }}{% endblock %}
{% block content %}
{% block static %}
{% load static %}
<link href="{% static './pages/form.css' %}" rel="stylesheet">
{% endblock static %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ texts.title }}</h1>
    </div>
    <div class="form-container">
        <form class="form" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="form__group">
                <label class="form__label" for="id_name">Название рецепта</label>
                <div class="form__field-group">
                    <input class="form__input" id="id_name" name="title" type="text" value="{{ recipe.title }}">
                    <span class="form__error"></span>
                </div>
            </div>
            <span class="form__error">{{ form.title.errors }}</span>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag in form.fields.tags.choices.queryset %}
                        <div class="tags__item">
                            <input type="checkbox" name="tags" value="{{ tag.pk }}"
                                   {% if tag.pk in form.tags.value %}checked="1"{% endif %}
                                   id="id_{{ tag.value }}"  class="tags__checkbox tags__checkbox_style_{{ tag.style }}">
                            <label for="id_{{ tag.value }}" class="tags__label">{{ tag.title }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <span class="form__error">{{ form.tags.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label class="form__label" for="nameIngredient">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input class="form__input" id="nameIngredient" type="text">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input class="form__input" id="cantidad" min="1" type="number">
                        <label class="form__label" for="cantidad" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">
                        {% if edit %}
                        {% for amount in recipe.recipe_amounts.all %}
                        <div class="form__field-item-ingredient" id="ing_3">
                            <span> {{ amount.ingredient.title }} {{ amount.quantity }}{{ amount.ingredient.dimension }}</span>
                            <span class="form__field-item-delete"></span>
                            <input id="nameIngredient_3" name="nameIngredient_{{ forloop.counter }}" type="hidden"
                                   value="{{ amount.ingredient.title }}">
                            <input id="valueIngredient_3" name="valueIngredient_{{ forloop.counter }}" type="hidden"
                                   value="{{ amount.quantity }}">
                            <input id="unitsIngredient_3" name="unitsIngredient_{{ forloop.counter }}" type="hidden"
                                   value="{{ amount.ingredient.dimension }}">
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    {% if texts.errors %}
                    {% for errors in texts.errors %}
                        <span class="form__error">{{ errors }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <label class="form__label" for="id_time">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    <input class="form__input" id="id_time" name="cooking_time" type="text" value="{{ recipe.cooking_time }}" required>
                    <label class="form__label" for="id_time">минут</label>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label class="form__label" for="id_description">Описание</label>
                <div class="form__field-group">
                    <textarea class="form__textarea" id="id_description" name="text" rows="8">{{ recipe.text }}</textarea>
                    <span class="form__error">{{ form.text.errors }}</span>
                </div>
            </div>
            <span class="form__error">{{ form.text.errors }}</span>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    <input id="id_file" name="image" type="file">
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">{{ texts.save_button }}</button>
                {% if edit%}
                <a class="form__ingredient-link" href="{% url 'delete_recipe' recipe.author.username recipe.id %}"
                   style="margin-left: 2.5em">Удалить</a>
                {% endif %}
            </div>
        </form>
    </div>
</main>
{% endblock content %}
{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>
{% endblock js%}