{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Список покупок{% endblock %}
{% block content %}
{% block static %}
{% load static %}
<link href="{% static './pages/shopList.css' %}" rel="stylesheet">
{% endblock static %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% if purchases %}
            {% for recipe in purchases %}
            <li class="shopping-list__item" data-id="111">
                <div class="recipe recipe_reverse">
                    {% if recipe.image %}
                    {% load thumbnail %}
                    {% thumbnail recipe.image '256x256' as img %}
                    <img alt="{{ recipe.title }}" class="recipe__image recipe__image_big" src="{{ img.url }}">
                    {% endthumbnail %}
                    {% else %}
                    <img alt="{{ recipe.title }}" class="recipe__image recipe__image_big"
                         src="{% static 'images/testCardImg.png' %}">
                    {% endif %}
                    <a class="recipe__title" href="{% url 'recipe' username=recipe.author recipe_id=recipe.id %}">{{ recipe.title }}</a>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                </div>
                <a class="shopping-list__button link" href="{% url 'shop_list' %}?recipe_id={{recipe.id}}">Удалить</a>
            </li>
            {% endfor %}
            {% else %}
            <h3 class="recipe__title">Список пуст</h3>
            {% endif %}
        </ul>
        {% if purchases %}
        <a href="{% url 'get_purchases' %}">
            <button class="button button_style_blue">Скачать список</button>
        </a>
        {% endif %}
    </div>
</main>
{% endblock content %}
{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock js %}
